node_modules
vendor
.env
.env.*
!.env.example
*.log
*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
public/hot
public/build
deployments
.git
.gitignore
docker-compose.yml
README.md
phpunit.xml
